
body{
    background-color:hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
 display: flex;
 flex-direction: column;
 background-color: hsl(214, 19%, 24%);
 width: 400px;
 height: 250px;
 align-content: center;
 text-align: center;
 border-radius: 15px;
}

header{
    text-transform:uppercase;
    margin-top: 35px;
    color: rgb(151, 244, 151);
    font-size: 8px;
    text-align: center;
    letter-spacing: 0.2rem;
}

p{
    color:rgb(211, 204, 204);
    margin-top: 25px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    width: 350px;
    height: 50px;
    margin-left: 30px;
    letter-spacing: 0.02rem;
}

.pattern{
   display: flex;
   position: relative;
   justify-content: center;
   margin-top:70px;
}

.pattern img{
    width: 350px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    transition: 0.3s;
}

.button :hover{
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px hsl(150, 100%, 66%);
}

.icon{
    position: absolute;
    background-color: hsl(150, 100%, 66%);
    width: 40px;
    height: 40px;
    align-content: center;
    border-radius: 50%;
    margin-bottom: 50px;
}

.icon img{
    margin-top: 5px;
    width: 15px;
    height: 15px;
}

